// define theme/variables for our scss
// css variable must start with $
$off-black: #20222b;
$off-white: #f7f7f7;
$dark-blue: #364051;
$purple: #8357c5;
$blue: #4379c9;
$light-blue: #464b5e;
$dark-grey: #333333;
$grey: #666;

// font size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;


// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;